# ---------------------------------------------------------------------------------------------------------------------------

# Metadata (PostgreSQL)
METADATA_USER=
METADATA_PASSWORD=
METADATA_HOST=metadata
METADATA_PORT=5432

# ---------------------------------------------------------------------------------------------------------------------------

# Airflow
AIRFLOW_UID=50000

# Airflow Metadata
AIRFLOW_METADATA_DB=
AIRFLOW_METADATA_CONN=${METADATA_USER}:${METADATA_PASSWORD}@${METADATA_HOST}:${METADATA_PORT}/${AIRFLOW_METADATA_DB}

# ---------------------------------------------------------------------------------------------------------------------------

# Data Warehouse (PostgreSQL)
DW_USER=
DW_PASSWORD=
DW_DB=

# ---------------------------------------------------------------------------------------------------------------------------

# Metabase Metadata
METABASE_METADATA_DB=

# ---------------------------------------------------------------------------------------------------------------------------

# Google OAuth
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=

# ---------------------------------------------------------------------------------------------------------------------------
