# ---------------------------------------------------------------------------------------------------------------------------

# Metadata (PostgreSQL)
METADATA_USER=
METADATA_PASSWORD=
METADATA_HOST=metadata
METADATA_PORT=5432

# ---------------------------------------------------------------------------------------------------------------------------

# Airflow
AIRFLOW_UID=50000

# Airflow Metadata
AIRFLOW_METADATA_DB=
AIRFLOW_METADATA_CONN=${METADATA_USER}:${METADATA_PASSWORD}@${METADATA_HOST}:${METADATA_PORT}/${AIRFLOW_METADATA_DB}
# ---------------------------------------------------------------------------------------------------------------------------

# Data Lake (Garage)
GARAGE_RPC_SECRET=
GARAGE_ADMIN_TOKEN=
GARAGE_ADMIN_API=http://garage:3903
GARAGE_NODE_CAPACITY=1000000000 #1G
BUCKET_NAME=
AWS_DEFAULT_REGION=garage
AWS_ENDPOINT_URL=http://garage:3900
AWS_ALLOW_HTTP=true

# ---------------------------------------------------------------------------------------------------------------------------

# Data Warehouse (PostgreSQL)
DW_USER=
DW_PASSWORD=
DW_DB=data_warehouse

# ---------------------------------------------------------------------------------------------------------------------------

# Metabase Metadata
METABASE_METADATA_DB=

# ---------------------------------------------------------------------------------------------------------------------------

# Google OAuth
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=

# ---------------------------------------------------------------------------------------------------------------------------
