# Blacklist
.env
.env.*
logs/
metadata/data/
dw_data/
dw/data/
.venv/
uv.lock
pyproject.toml
__pycache__/
*.pyc
.pytest_cache/
.python-version
garage/data/
garage/meta/
.idea

# Whitelist
!.env.example

